.school-nav {
    margin-top: 50px;
}

li .active {
    color: green;
    background-color: red;
}

.schoolList {
    margin-top: 20px;
}

#schools-table {
    margin-top: 30px;
}

.school-header{
    background-color: #00A352;
    padding: 5px 25px 10px;
    border-radius: 6px;
    color: white;
    margin-top: 8px;
    height:100px;
}


table.school-overview, th.school-overview, td.school-overview  {
    align-content: center;
    border: 1px solid black;
    border-collapse: collapse;
}

td.school-overview {
    padding: 12px;
    text-align: center;

}