<div>

    <div class="class-header">
        <h4><span ng-if="!isEditClassName">{{theClass.name}}</span>
            <input style="color:black " type="text" ng-if="isEditClassName" ng-model="theClass.name" ng-blur="editClassNameOver()">
            <!--&nbsp &nbsp<span class="glyphicon glyphicon-edit" data-tooltip-style="light" data-toggle="tooltip" data-placement="right" title="修改班名"-->
                             <!--ng-click="editClassName()" href=""></span>-->

        </h4>
                    <span ng-repeat="subject in theClass.mySubject">
                <span class="badge pull-right">{{subject}}</span>
            </span>



        <!--<button type="button" class="btn btn-default btn-xs">-->
        <!--</button>-->

        <a href class="btn btn-warning btn-sm pull-right" style="margin:0 5px" ng-click="showDisbandClassDialog()"><span class="glyphicon glyphicon-trash"></span>  解散班级</a>
        <a href class="btn btn-warning btn-sm pull-right" style="margin:0 5px" ng-click="editClassName()"><span class="glyphicon glyphicon-edit"></span>  修改班名</a>
        <a href class="btn btn-warning btn-sm pull-right" style="margin:0 5px" ng-click="showJoinStudentDialog()"><span class="glyphicon glyphicon-plus"></span> 添加学生</a>
        <p>
            学生人数：{{theClass.students.length}} &nbsp （ 其中{{noTabletNum}}人尚未登录晓书 ）
        </p>
    </div>

    <div class="gridStyle" ng-grid="gridOptions" ng-if="theClass.students && theClass.students.length > 0" ></div>
    <div ng-if="!theClass.students || theClass.students.length<=0">
        <h3>还没有任何学生 <button class="btn btn-success btn-lg" type="button" ng-click="showJoinStudentDialog()"><span class="glyphicon glyphicon-plus"></span>  添加学生</button></h3>
    </div>


    <div class="modal fade" id="disbandClassDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">解散班级</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要解散班级{{theClass.name}}吗？
                </div>
                <div class="modal-footer">
                    <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" ng-click="disclaimClass()">解散</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="joinStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">添加学生</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills nav-justified">
                        <li ng-class="{'active': addState}"><a ng-click="toAddStudents()">添加学生</a></li>
                        <li ng-class="{'active': addBatchState}"><a ng-click="toAddStudentsBatch()">批量操作</a></li>
                    </ul>


                    <div ng-show="addState" class="col-md-12">
                        <br>

                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="search" class="form-control" placeholder="搜索" ng-model="searchText"/>
                        </div>


                        <table class="table">
                            <tbody>
                            <tr>
                                <th>选择</th>
                                <th>姓名</th>
                                <th>用户名</th>
                            </tr>
                            <tr ng-repeat="student in studentsNotInRoom | filter:searchText" ng-click="selectStudents($index)" class="clickable">
                                <td><a ng-show="student.selected" class="glyphicon glyphicon-ok-sign"></a></td>
                                <td>{{student.name}}</td>
                                <td>{{student.username}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="pull-right">想添加的学生不在此列表中？
                            <!--<button class="btn btn-default btn-info text-primary" ng-click="toCreateStudent()">创建学生</button>-->
                            <a data-toggle="modal" href="#createStudentDialog" class="btn btn-primary">创建学生</a>

                        </p>

                        <span style="color: red" ng-show="temp.error">用户名不存在，添加学生</span>
                        <br>

                    </div>


                    <div ng-show="addBatchState" class="col-md-12">
                        <!--<div text-indent="50px">-->
                            <!--<br>-->
                            <!--<p style="text-indent: 180px">批量创建学生并添加至这个班级，</p>-->

                            <!--<p style="text-indent: 180px">如果学生已存在，则直接加入本班级，</p>-->

                            <!--<p style="text-indent: 180px">每行一个学生，请按照</p>-->

                            <!--<p style="color: orangered; font-weight: bold; text-indent: 180px">&nbsp;&nbsp;姓名，用户名</p>-->

                            <!--<p style="text-indent: 180px">格式输入：</p>-->
                        <!--</div>-->
                        <div >
                            <br>
                            <p>批量创建学生并添加至这个班级，如果学生已存在，则直接加入本班级.</p>

                            <p>每行一个学生，请按照如下格式输入：</p>

                            <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名1，用户名1</p>
                            <p style="color: green; font-weight: bold;">&nbsp;&nbsp;姓名2，用户名2</p>

                        </div>

                        <textarea ng-model="newStudentsList" style="height:100px" class="form-control"></textarea>

                        <p>提示：分隔符可以使用半角逗号、全角逗号和空格。</p>
                        <br>
                    </div>

                    <button ng-show="addState" type="submit" class="btn btn-default btn-success btn-block" ng-click="addStudents()">添加</button>
                    <button ng-show="addBatchState" type="submit" class="btn btn-default btn-success btn-block" ng-click="addStudentsBatch()">添加</button>


                </div>


            </div>
        </div>
    </div>

    <div class="modal fade" id="createStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">创建学生</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="新学生姓名" ng-model="newStudent.name">
                        <br>
                        <input type="text" class="form-control" placeholder="新学生用户名" ng-model="newStudent.username">
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" ng-click="createStudent()">确定</button>
                </div>
            </div>
        </div>
    </div>







    <div class="modal fade" id="logoutDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">登出平板</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要将{{row.entity.username}}登出晓书吗？
                </div>
                <div class="modal-footer">
                    <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" ng-click="logout(row)">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="removeStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">删除学生</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要将学生{{row.entity.name}}从班级{{theClass.name}}中移出吗？
                </div>
                <div class="modal-footer">
                    <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" ng-click="removeStudentFromRoom(row)">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editStudentDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">编辑学生</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="newName">新姓名</label>
                            <input type="text" id="newName" class="form-control" placeholder="新姓名" ng-model="temp.newName">
                        </div>

                        <br>
                        <br>
                        <br>
                        <div class="form-inline">
                            <label for="newUsername">新用户名</label>
                            <input type="text" id="newUsername" class="form-control" placeholder="新用户名" ng-model="temp.newUsername">
                        </div>
                    </div>
                    <span style="color: red" ng-show="temp.error">修改失败，可能由于用户名已存在</span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-defautl" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" ng-click="editStudent(row)">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>
