<div>
    <div class="container-fluid page-box-white">
        <div class="col-sm-3">
            <div class="page-box-white myclasses">
                <h3 style="text-align:center;color: seagreen">我的班级</h3>
                <ul id="roomsList" class="list-group">
                    <li ng-repeat="roomItem in rooms" ng-class="{active: roomItem.isActive}" style="list-style-type:none" >
                        <a ng-click="selectOneRoom(roomItem)" class="list-group-item list-group-item-success">
                            {{roomItem.name}}
                            <span class="badge">{{roomItem.students.length}}</span>
                        </a>
                    </li>
                </ul>
                <div ng-if="!rooms || rooms.length === 0">
                    <h5  style="color:green">您还没有任何班级,您可以：</h5>
                </div>

                <a class="btn btn-primary btn-success center-block" role="button" href="#claimRoomDialog" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span> 认领班级</a>
                <br>
                <a class="btn btn-primary btn-success center-block" role="button" href="#createRoomDialog" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> 创建小组</a>

            </div>
        </div>
        <div class="col-sm-9">
            <div ui-view></div>
        </div>
    </div>

</div>

<!--------------------------------Modal--------------------->

<div class="modal fade" id="createRoomDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="overflow-y:scroll">
    <div class='modal-dialog' style="left: auto">
        <div class='modal-content'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h4 class="modal-title">创建小组</h4>
            </div>
            <div class='modal-body'>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <input class="form-control" placeholder="请输入小组名称" ng-model="newClassName">
                        <div class="input-group-btn">
                            <button type="button" class="btn  btn-success"
                                    ng-click="createTeachingRoom()">创建</button>
                        </div>
                    </div>
                    <span ng-show="temp.createRoomTip=='noName'" class="error-msg">请填写小组名称</span>
                    <span ng-show="temp.createRoomTip=='formatWrong'" class="error-msg">小组名称不可以超过15个字符，请修改名称</span>
                    <span ng-show="temp.createRoomTip=='alreadyHave'" class="error-msg">您已经用此名称创建过小组，请修改名称</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="claimRoomDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times</button>
                <h4 class="modal-title">认领班级</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="input-group input-group-lg">
                        <select class="form-control" id="selectRoom" data-ng-options="room.name for room in roomList" data-ng-model="selectedRoom"></select>
                        <div class="input-group-btn">
                            <button type="button" class="btn  btn-success"
                                    ng-click="claimRoom()">认领</button>
                        </div>
                    </div>
                </form>

            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">取消</button>-->
                <!--<button type="button" ng-click="claimRoom()" class="btn btn-success" data-dismiss="modal">确定</button>-->
            <!--</div>-->
        </div>
    </div>

</div>

